.root {
  display: flex;
  width: 100%;
  height: 412px;
  position: relative;
  flex-direction: column;
  max-width: 260px;
  overflow: hidden;
  background: var(--token-yiDVvu11MkuB);
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.freeBox___9PNzZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 300px;
  background: var(--token-E2ccr6NhRDJ7);
  min-width: 0;
  flex-shrink: 0;
}
.img__wR0Wh {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__wR0Wh > picture > img {
  object-fit: cover;
}
.freeBox___5MetN {
  position: absolute;
  left: auto;
  top: 20px;
  right: 0px;
  height: 30px;
  width: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(233, 156, 46);
  flex-shrink: 0;
  display: none;
}
.text__pdUn1 {
  position: relative;
  color: var(--token-yiDVvu11MkuB);
}
.freeBox__akX3S {
  position: absolute;
  flex-direction: row;
  left: 0px;
  top: auto;
  width: 100%;
  bottom: 0px;
  height: 35px;
  background: var(--token-6-9k9VEZ-);
  min-width: 0;
  display: none;
  padding: 10px;
}
.freeBox__akX3S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__akX3S > :global(.__wab_flex-container) > *,
.freeBox__akX3S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__akX3S > :global(.__wab_flex-container) > picture > img,
.freeBox__akX3S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__yuIa {
  position: relative;
  object-fit: cover;
  color: var(--token-yiDVvu11MkuB);
  height: 1em;
}
.text__sOt8J {
  position: relative;
  width: 100%;
  color: var(--token-yiDVvu11MkuB);
  min-width: 0;
}
.svg__kd9Ko {
  position: relative;
  object-fit: cover;
  color: var(--token-yiDVvu11MkuB);
  height: 1em;
}
.svg__b1Sn {
  position: relative;
  object-fit: cover;
  color: var(--token-yiDVvu11MkuB);
  height: 1em;
}
.ratings__jKiJ:global(.__wab_instance) {
  position: relative;
}
.freeBox__pGx0W {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pGx0W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__pGx0W > :global(.__wab_flex-container) > *,
.freeBox__pGx0W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pGx0W > :global(.__wab_flex-container) > picture > img,
.freeBox__pGx0W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.slotTargetTitle {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--token-N4kDd9Tpg6B-);
}
.slotTargetPrice {
  color: var(--token-N4kDd9Tpg6B-);
  text-align: center;
  font-size: 18px;
}
