.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    flex-wrap: wrap;
    align-items: stretch;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.freeBox___7XRkV {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0px;
  min-width: 0;
  padding: 50px 0px 0px;
}
.freeBox___7XRkV > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox___7XRkV > :global(.__wab_flex-container) > *,
.freeBox___7XRkV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7XRkV > :global(.__wab_flex-container) > picture > img,
.freeBox___7XRkV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7XRkV {
    padding: 16px 10px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButtonexpanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButtonexpanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link__iferz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
.freeBox__v9T5 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__v9T5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__v9T5 > :global(.__wab_flex-container) > *,
.freeBox__v9T5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v9T5 > :global(.__wab_flex-container) > picture > img,
.freeBox__v9T5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v9T5 {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v9T5 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__v9T5 > :global(.__wab_flex-container) > *,
  .freeBox__v9T5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__v9T5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__v9T5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxexpanded__v9T5XIupE {
    display: none;
  }
}
.link__eCyHh {
  color: var(--token-yiDVvu11MkuB);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__eCyHh {
    font-size: 16px;
  }
}
.link__odlr6 {
  color: var(--token-yiDVvu11MkuB);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__odlr6 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-yiDVvu11MkuB);
  }
}
.link___9Ymfe {
  color: var(--token-yiDVvu11MkuB);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link___9Ymfe {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-yiDVvu11MkuB);
  }
}
.freeBox__gkFfx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox__gkFfx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__gkFfx > :global(.__wab_flex-container) > *,
.freeBox__gkFfx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gkFfx > :global(.__wab_flex-container) > picture > img,
.freeBox__gkFfx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__s43Sn {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}
.linkButton___8MV14:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___2BnXo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__vxoYq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__vFEeV:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__bybJm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
