.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox___6Mv1G {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__lOpKf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background: #0000002e;
  min-width: 0;
  padding: 32px 24px;
}
.freeBox__lOpKf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__lOpKf > :global(.__wab_flex-container) > *,
.freeBox__lOpKf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lOpKf > :global(.__wab_flex-container) > picture > img,
.freeBox__lOpKf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text___6BTf {
  position: relative;
  font-size: 28px;
  color: var(--token-sVdIcyobbFxB);
}
.text__e8VDt {
  position: relative;
  color: var(--token-N4kDd9Tpg6B-);
  font-size: 40px;
}
.text__cpdKr {
  position: relative;
  color: var(--token-2yJSpE0cWWk6);
}
.freeBox__dBOb {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(24px + 12px) !important;
}
.freeBox__dBOb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__dBOb > :global(.__wab_flex-container) > *,
.freeBox__dBOb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dBOb > :global(.__wab_flex-container) > picture > img,
.freeBox__dBOb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.linkButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__od5B {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__od5B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__od5B > :global(.__wab_flex-container) > *,
.freeBox__od5B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__od5B > :global(.__wab_flex-container) > picture > img,
.freeBox__od5B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__vhyh0 {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46);
  height: 1em;
}
.svg__eOxTh {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46);
  height: 1em;
}
.svg__cePTo {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46);
  height: 1em;
}
