.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox___7RiJt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/planty/images/leafLightGreySvg.svg") left 0% bottom 46.89% / 2127px 1989px
    repeat;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7RiJt {
    background: url("/plasmic/planty/images/leafLightGreySvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.header2__zicrq:global(.__wab_instance) {
  margin-top: 0px;
  width: 1300px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2__zicrq:global(.__wab_instance) {
    margin-top: 0px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__h1Rq9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  min-width: 0;
  padding: 128px 32px 250px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h1Rq9 {
    padding-top: 130px;
    padding-bottom: 220px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___5ToRw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___5ToRw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.freeBox___5ToRw > :global(.__wab_flex-container) > *,
.freeBox___5ToRw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5ToRw > :global(.__wab_flex-container) > picture > img,
.freeBox___5ToRw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5ToRw > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5ToRw > :global(.__wab_flex-container) > *,
  .freeBox___5ToRw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5ToRw > :global(.__wab_flex-container) > picture > img,
  .freeBox___5ToRw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 40px;
  }
}
.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-T3Tu2nQcV3K5);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 35px;
  }
}
.freeBox__lmt5B {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 507px;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lmt5B {
    position: relative;
  }
}
.text__lmAMi {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lmAMi {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    min-width: 0;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox__qyH6L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: none;
}
.freeBox__qyH6L > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qyH6L > :global(.__wab_flex-container) > *,
.freeBox__qyH6L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qyH6L > :global(.__wab_flex-container) > picture > img,
.freeBox__qyH6L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__vQwnh {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2___0RLwF:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2___0RLwF:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__i1Jbh {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2__z6Qml {
  position: relative;
}
.columns__zhjsm {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 8px 72px;
}
.columns__zhjsm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__zhjsm > :global(.__wab_flex-container) > *,
.columns__zhjsm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__zhjsm > :global(.__wab_flex-container) > picture > img,
.columns__zhjsm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
.columns__zhjsm > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__zhjsm > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__zhjsm > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__zhjsm > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zhjsm {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zhjsm > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zhjsm > :global(.__wab_flex-container) > *,
  .columns__zhjsm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__zhjsm > :global(.__wab_flex-container) > picture > img,
  .columns__zhjsm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zhjsm > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__rFUeR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___39ZhG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard___39ZhG:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__o9Fxu {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__o9Fxu > picture > img {
  object-fit: cover;
}
.ratings__qLmJe:global(.__wab_instance) {
  position: relative;
}
.column__lFr8L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__m7Aq2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__aLw2H {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__aLw2H > picture > img {
  object-fit: cover;
}
.ratings__wqaQf:global(.__wab_instance) {
  position: relative;
}
.column__cJOiN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__ihUA:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__rFdtt {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__rFdtt > picture > img {
  object-fit: cover;
}
.ratings___8BMp8:global(.__wab_instance) {
  position: relative;
}
.column__mvwaz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__jYva3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ljsr8 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ljsr8 > picture > img {
  object-fit: cover;
}
.ratings__qYs1F:global(.__wab_instance) {
  position: relative;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__t0QH {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text__qzDh4 {
  position: relative;
  color: var(--token-N4kDd9Tpg6B-);
  font-size: 30px;
  font-weight: 500;
}
.columns__k2KyO {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__k2KyO > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
  --plsmc-rc-col-gap: 36px;
}
.columns__k2KyO > :global(.__wab_flex-container) > *,
.columns__k2KyO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__k2KyO > :global(.__wab_flex-container) > picture > img,
.columns__k2KyO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
.columns__k2KyO > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__k2KyO > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__k2KyO > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__k2KyO > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k2KyO {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k2KyO > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k2KyO > :global(.__wab_flex-container) > *,
  .columns__k2KyO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__k2KyO > :global(.__wab_flex-container) > picture > img,
  .columns__k2KyO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__k2KyO > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__i19G6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__msbg5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text___16B0 {
  height: auto;
}
.text__bgIi5 {
  height: auto;
}
.img__vKn73 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__vKn73 > picture > img {
  object-fit: cover;
}
.ratings__aWqy5:global(.__wab_instance) {
  position: relative;
}
.column__u7Iau {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__wj8Fz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__ekQja {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ekQja > picture > img {
  object-fit: cover;
}
.ratings__z88Y:global(.__wab_instance) {
  position: relative;
}
.column__wehL {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__beTuR:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__pU38V {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__pU38V > picture > img {
  object-fit: cover;
}
.ratings__aWs0R:global(.__wab_instance) {
  position: relative;
}
.column__xqRNr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__wOFlH:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__wOFlH:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__jX2Ok {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__jX2Ok > picture > img {
  object-fit: cover;
}
.ratings__iDZgc:global(.__wab_instance) {
  position: relative;
}
.freeBox___4I8Z4 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text__dktT9 {
  position: relative;
  color: var(--token-N4kDd9Tpg6B-);
  font-size: 30px;
  font-weight: 500;
}
.columns__xZjCn {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__xZjCn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__xZjCn > :global(.__wab_flex-container) > *,
.columns__xZjCn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__xZjCn > :global(.__wab_flex-container) > picture > img,
.columns__xZjCn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__xZjCn > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__xZjCn > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__xZjCn > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xZjCn {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xZjCn > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xZjCn > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zLmJ4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost___7Z8N:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__rmV2L {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__rmV2L > picture > img {
  object-fit: cover;
}
.column__gZx6Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__upddv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__itd8 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__itd8 > picture > img {
  object-fit: cover;
}
.column__fJ8At {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__xDvKm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__oEg81 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__oEg81 > picture > img {
  object-fit: cover;
}
.freeBox___5SrKs {
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-E2ccr6NhRDJ7);
  display: none;
  padding: 48px;
}
.freeBox___5SrKs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___5SrKs > :global(.__wab_flex-container) > *,
.freeBox___5SrKs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5SrKs > :global(.__wab_flex-container) > picture > img,
.freeBox___5SrKs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__oUfeN {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__oUfeN > picture > img {
  object-fit: cover;
}
.img__yIi8R {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__yIi8R > picture > img {
  object-fit: cover;
}
.img__m5Pom {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__m5Pom > picture > img {
  object-fit: cover;
}
.img__vM2As {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img__vM2As > picture > img {
  object-fit: cover;
}
.img__oDtmz {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__oDtmz > picture > img {
  object-fit: cover;
}
.footer__kpsc8:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__g4Ujk {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__g4Ujk > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__g4Ujk > :global(.__wab_flex-container) > *,
.freeBox__g4Ujk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g4Ujk > :global(.__wab_flex-container) > picture > img,
.freeBox__g4Ujk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__pIhYz {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-xlF1grSndudo);
}
.columns__r9WpU {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__r9WpU > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
  --plsmc-rc-col-gap: 15px;
}
.columns__r9WpU > :global(.__wab_flex-container) > *,
.columns__r9WpU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__r9WpU > :global(.__wab_flex-container) > picture > img,
.columns__r9WpU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.columns__r9WpU > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__r9WpU > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__r9WpU > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r9WpU {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r9WpU > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r9WpU > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__bBnDa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__bBnDa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__bBnDa > :global(.__wab_flex-container) > *,
.column__bBnDa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bBnDa > :global(.__wab_flex-container) > picture > img,
.column__bBnDa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__xm8Zg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-MxejSw_sxZXA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__xm8Zg > picture > img {
  object-fit: cover;
}
.freeBox__lpsiZ {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-yiDVvu11MkuB);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___3DwVu {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-biIT0Mo8OOYC);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__lJJgJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__zGw0O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  font-size: 24px;
  min-width: 0;
}
.text__zyVs4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T3Tu2nQcV3K5);
  min-width: 0;
}
.h5__nokU2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  line-height: 34px;
  min-width: 0;
}
.column___8Iret {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___8Iret > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___8Iret > :global(.__wab_flex-container) > *,
.column___8Iret > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___8Iret > :global(.__wab_flex-container) > picture > img,
.column___8Iret
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__fWy5W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-MxejSw_sxZXA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__fWy5W > picture > img {
  object-fit: cover;
}
.freeBox__jzcoh {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-yiDVvu11MkuB);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__jaGhY {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-biIT0Mo8OOYC);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__uTdOk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___6AXwA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  font-size: 24px;
  min-width: 0;
}
.text__gDXtc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T3Tu2nQcV3K5);
  min-width: 0;
}
.h5___6Uoex {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  line-height: 34px;
  min-width: 0;
}
.column___70TRk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___70TRk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___70TRk > :global(.__wab_flex-container) > *,
.column___70TRk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___70TRk > :global(.__wab_flex-container) > picture > img,
.column___70TRk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__y7Wt3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-MxejSw_sxZXA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__y7Wt3 > picture > img {
  object-fit: cover;
}
.freeBox__uoGwm {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-yiDVvu11MkuB);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__qgpNz {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-biIT0Mo8OOYC);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__ki6Tl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__eopyb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  font-size: 24px;
  min-width: 0;
}
.text__mAt06 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T3Tu2nQcV3K5);
  min-width: 0;
}
.h5__uMfo2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  line-height: 34px;
  min-width: 0;
}
.img___4MdJn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-MxejSw_sxZXA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___4MdJn > picture > img {
  object-fit: cover;
}
.freeBox__b4P1F {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-yiDVvu11MkuB);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__k0VBa {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-biIT0Mo8OOYC);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__pZFn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__faPhT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  font-size: 24px;
  min-width: 0;
}
.text__owo6Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T3Tu2nQcV3K5);
  min-width: 0;
}
.h5__xgZzZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__a2Bl4 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__a2Bl4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__a2Bl4 > :global(.__wab_flex-container) > *,
.freeBox__a2Bl4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a2Bl4 > :global(.__wab_flex-container) > picture > img,
.freeBox__a2Bl4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__fgOj {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-xlF1grSndudo);
}
.columns__ooO0 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__ooO0 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
  --plsmc-rc-col-gap: 15px;
}
.columns__ooO0 > :global(.__wab_flex-container) > *,
.columns__ooO0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ooO0 > :global(.__wab_flex-container) > picture > img,
.columns__ooO0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
.columns__ooO0 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__ooO0 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__ooO0 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__ooO0 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ooO0 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ooO0 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ooO0 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___5BkCm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___5BkCm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column___5BkCm > :global(.__wab_flex-container) > *,
.column___5BkCm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___5BkCm > :global(.__wab_flex-container) > picture > img,
.column___5BkCm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___70GR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-MxejSw_sxZXA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___70GR > picture > img {
  object-fit: cover;
}
.freeBox__lhlSq {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-yiDVvu11MkuB);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__iyg3A {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-biIT0Mo8OOYC);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__yaKj1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__rfCxn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  font-size: 24px;
  min-width: 0;
}
.text___82DCo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T3Tu2nQcV3K5);
  min-width: 0;
}
.h5___26G6L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  line-height: 34px;
  min-width: 0;
}
.column__hiyI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__hiyI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__hiyI > :global(.__wab_flex-container) > *,
.column__hiyI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__hiyI > :global(.__wab_flex-container) > picture > img,
.column__hiyI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__vKoDe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-MxejSw_sxZXA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__vKoDe > picture > img {
  object-fit: cover;
}
.freeBox__mf9Xw {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-yiDVvu11MkuB);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__kEmS1 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-biIT0Mo8OOYC);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox___8IhlN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__wmfn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  font-size: 24px;
  min-width: 0;
}
.text___8TxVo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T3Tu2nQcV3K5);
  min-width: 0;
}
.h5__zehv9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  line-height: 34px;
  min-width: 0;
}
.column__zSAid {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__zSAid > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__zSAid > :global(.__wab_flex-container) > *,
.column__zSAid > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__zSAid > :global(.__wab_flex-container) > picture > img,
.column__zSAid
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__d7DQz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-MxejSw_sxZXA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__d7DQz > picture > img {
  object-fit: cover;
}
.freeBox__xVjf1 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-yiDVvu11MkuB);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__eZmJq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-biIT0Mo8OOYC);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__fYoyZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__cy3Jo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__cun6C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T3Tu2nQcV3K5);
  min-width: 0;
}
.h5__qkZjz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  line-height: 34px;
  min-width: 0;
}
.column__bzQqT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__bzQqT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__bzQqT > :global(.__wab_flex-container) > *,
.column__bzQqT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bzQqT > :global(.__wab_flex-container) > picture > img,
.column__bzQqT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__oU9EX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-MxejSw_sxZXA);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__oU9EX > picture > img {
  object-fit: cover;
}
.freeBox__ecPp2 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-yiDVvu11MkuB);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__pEnbo {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-biIT0Mo8OOYC);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__dVcGs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__m3M2H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  font-size: 24px;
  min-width: 0;
}
.text__dt8O3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-T3Tu2nQcV3K5);
  min-width: 0;
}
.h5__oH5Sf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-T3Tu2nQcV3K5);
  line-height: 34px;
  min-width: 0;
}
.weLove {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1000px;
  height: auto;
  max-width: 100%;
  margin-top: -150px;
  padding: 0px 0px 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .weLove {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 55px;
  }
}
.freeBox___7Hrmb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns__oCenR {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__oCenR > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
}
.columns__oCenR > :global(.__wab_flex-container) > *,
.columns__oCenR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__oCenR > :global(.__wab_flex-container) > picture > img,
.columns__oCenR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.columns__oCenR > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__oCenR > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oCenR {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oCenR > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oCenR > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8Aq8Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__w4OXm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}
.img__w4OXm > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__w4OXm {
    height: 400px;
    flex-shrink: 0;
  }
}
.column__nXunG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__nXunG > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.column__nXunG > :global(.__wab_flex-container) > *,
.column__nXunG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__nXunG > :global(.__wab_flex-container) > picture > img,
.column__nXunG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nXunG > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nXunG > :global(.__wab_flex-container) > *,
  .column__nXunG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__nXunG > :global(.__wab_flex-container) > picture > img,
  .column__nXunG
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h2__xPfhC {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-T3Tu2nQcV3K5);
  font-size: 42px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__xPfhC {
    font-size: 32px;
  }
}
.text___87Ce {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___87Ce {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    min-width: 0;
  }
}
.weThink {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 1000px;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  padding: 0px 0px 95px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .weThink {
    padding-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.freeBox__s46ZZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns__ikiLv {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__ikiLv > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  --plsmc-rc-col-gap: 50px;
}
.columns__ikiLv > :global(.__wab_flex-container) > *,
.columns__ikiLv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ikiLv > :global(.__wab_flex-container) > picture > img,
.columns__ikiLv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.columns__ikiLv > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ikiLv > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ikiLv {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ikiLv > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ikiLv > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__xQy75 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__xQy75 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 42px);
  height: calc(100% + 42px);
}
.column__xQy75 > :global(.__wab_flex-container) > *,
.column__xQy75 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__xQy75 > :global(.__wab_flex-container) > picture > img,
.column__xQy75
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xQy75 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xQy75 > :global(.__wab_flex-container) > *,
  .column__xQy75 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__xQy75 > :global(.__wab_flex-container) > picture > img,
  .column__xQy75
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.h2__tiOGo {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-T3Tu2nQcV3K5);
  font-size: 42px;
  font-weight: 600;
  line-height: 42px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__tiOGo {
    width: auto;
    height: auto;
    font-size: 32px;
    font-weight: 600;
    color: var(--token-T3Tu2nQcV3K5);
  }
}
.text__jgVsS {
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: #384647ad;
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jgVsS {
    width: 100%;
    height: auto;
    max-width: 800px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #384647ad;
    font-size: 18px;
    text-align: left;
    min-width: 0;
  }
}
.column__tmYui {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.img___2U11T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}
.img___2U11T > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___2U11T {
    width: 500px;
    height: 400px;
    max-width: 100%;
    flex-shrink: 0;
  }
}
.footer__etBuz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
